<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BENJAMIN WONG</title>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<script type="module">
   import { createApp, reactive } from "https://unpkg.com/petite-vue?module"

   /* Create a Project Data type object */
   const ProjectData = (title, title_sub, date, description, images, url, accent_class) => {
      return {
         title: title,
         title_sub: title_sub,
         date: date,
         description: description,
         images: images,
         url: url,
         accent_class: accent_class
      }
   }

   /* contains all data for projects, used to render dom elements */
   const film_projects_data = [
      ProjectData(
         "HOSHIZORA",
         "Keyboard Build Video",
         "2023",
         "a carefully shot, visual & auditory experience",
         [
            "imgs/hoshi/hoshi_1.webp",
            "imgs/hoshi/hoshi_2.webp",
            "imgs/hoshi/hoshi_3.webp",
         ],
         "https://youtu.be/kjGSr2NMFNc",
         "splash"
      ),
      ProjectData(
         "MEET RECAP",
         "Miles N. Meet Recap",
         "2022",
         "The recap for Miles Nguyen's performance at Socal Powerlifting's Thanksgiving Throwdown",
         [
            "imgs/pl_highlight/pl_1.webp",
            "imgs/pl_highlight/pl_2.webp",
            "imgs/pl_highlight/pl_3.webp",
            "imgs/pl_highlight/pl_4.webp",
            "imgs/pl_highlight/pl_5.webp",
         ],
         "https://youtu.be/xE0yMxPyy3c",
         "left mobile"
      ),
      ProjectData(
         "SOUND TEST",
         "Keyboard Sound Tests",
         "2023",
         "A myriad of high fidelity keyboard sound tests.",
         [
            "imgs/sound_tests/neko.webp",
            "imgs/sound_tests/primrose.webp",
            "imgs/sound_tests/ciel.webp",
            "imgs/sound_tests/basketweave.webp",
         ],
         "https://youtu.be/kjGSr2NMFNc",
         "right"
      ),
      ProjectData(
         "POWERLIFTING",
         "Powerlifting Club at UCI",
         "2022",
         "a video for aspiring powerlifters at UCI",
         [
            "imgs/pl_socal/socal_1.webp",
            "imgs/pl_socal/socal_2.webp",
            "imgs/pl_socal/socal_3.webp",
            "imgs/pl_socal/socal_4.webp",
         ],
         "https://youtu.be/0B3FwWkPBG8",
         "left mobile"
      ),
      ProjectData(
         "VGDC GGJ",
         "VGDC at UCI's Global Game Jam",
         "2023",
         "a brief highlight of Video Game Development Club at UCI's global game jam games",
         [
            "imgs/vgdc/ggj_1.webp",
            "imgs/vgdc/ggj_2.webp",
            "imgs/vgdc/ggj_3.webp",
         ],
         "https://youtube.com/shorts/0VKxQXojxXI",
         "right mobile"
      ),
   ]

   /* project dom element */
   function Project(props) {
      return {
         $template: "#project-template",
         title: props.title,
         title_sub: props.title_sub,
         description: props.description,
         date: props.date,
         images: props.images,
         image_current: 0,
         url: props.url,
         accent_class: props.accent_class,
         next_image() {
            this.image_current++;

            if (this.image_current == this.images.length) this.image_current = 0
         },
         prev_image() {
            this.image_current--;

            if (this.image_current <= 0) this.image_current = this.images.length - 1
         }
      }
   }
   createApp({
      film_projects_data,
      Project,
   }).mount()
</script>

<template id="project-template">
   <div class="visual">
      <img :src="images[image_current]" />
      <div class="play-hint">
         <button class="previous" @click="prev_image"><div>prev</div></button>
         <a class="watch" :href="url"><div>watch</div></a>
         <button class="next" @click="next_image"><div>next</div></button>
      </div>
      <h1>{{title}}</h1>
   </div>
   <div class="info">
      <h2 v-if="accent_class != 'splash'">{{title_sub}}</h2>
      <p class="date">{{date}}</p>
      <p>{{description}}</p>
   </div>
</template>

<div class="site">
   <!--div class="header">
      <a>Home</a>
      <a>Film</a>
      <a>Motion Graphics</a>
   </div-->
   <div
      v-for="project in film_projects_data"
      v-scope="Project(project)"
      :class="'project ' + project.accent_class"
   ></div>
</div>
</body>
</html>