<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="title" content="Video Portfolio">
   <meta name="description" content="A collection of films and motion graphics projects by Benjamin Wong">

   <meta property="og:site_name" content="film.benjiwong.com" />
   <meta property="og:title" content="Video Portfolio" />
   <meta property="og:type" content="website" />
   <meta property="og:description" content="A collection of films and motion graphics projects by Benjamin Wong" />
   <meta property="og:image" content="./imgs/hoshi/hoshi_1.webp" />

   <title>film.benjiwong.com</title>
   <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="icon" type="image/x-icon" href="./favicon.ico">
   <link rel="preload" fetchpriority="high" as="image" href="./imgs/hoshi/hoshi_1.webp" type="image/webp">
</head>
<body>
<script type="module" src="script.js"></script>

<template id="project-template">
   <div class="visual">
      <img :src="images[image_current]" alt="image preview" />
      <div class="play-hint">
         <button class="previous" @click="prev_image"><img src="icons/arrow-left.png" alt="left arrow"/></button>
         <a class="watch" target="__blank" :href="url"><img src="icons/play.png" alt="play video"/></a>
         <button class="next" @click="next_image"><img src="icons/arrow-right.png" alt="right arrow"/></button>
      </div>
      <h1>{{title}}</h1>
   </div>
   <div class="info">
      <h2 v-if="accent_class != 'splash'">{{title_sub}}</h2>
      <p class="date">{{date}}</p>
      <p>{{description}}</p>
   </div>
</template>

<div class="site">
   <!--div class="header">
      <a>Home</a>
      <a>Film</a>
      <a>Motion Graphics</a>
   </div-->
   <div
      v-for="project in mograph_projects_data"
      v-scope="Project(project)"
      :class="'project ' + project.accent_class"
   ></div>
</div>
</body>
</html>